{% extends 'base.html' %}

{% block title %}О нас{% endblock %}

{% block content %}

<h1>О нас</h1>

<p>
  Наш косметический центр работает с 2020 года в городе Санкт-Петербург.
  Мы стремимся предоставлять качественный сервис и индивидуальный подход к каждому клиенту.
</p>

<h2>Наши преимущества:</h2>

<ul>
  <li>Процедуры только квалифицированными специалистами</li>
  <li>Использование профессиональной косметики проверенных брендов</li>
  <li>Комфортные кабинеты</li>
  <li>Онлайн запись 24/7</li>
</ul>

<h2>Наша команда:</h2>

{% for specialist in specialists %}

  <h3>{{ specialist.get_full_name }}</h3>

  <p>{{ specialist.specialty }}</p>

  <p>{{ specialist.description }}</p>
    {{ specialist.image }}

{% endfor %}

{% endblock %}